.item {
  height: 100%;
  overflow: auto;
}

.money {
  width: 13%;
  text-align: center;
}

.quantity {
  width: 13%;
  height: 90%;
  text-align: center;
  border: none;
}

.quantity:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}
