.info-box {
  background-image: url("src/assets/Info Box.png");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: 100% 100%;
  width: 34%;
  height: 95%;
  opacity: 0.9;
  overflow: hidden;
}

::ng-deep .mat-tab-body {
  height: 84% !important;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}
