.loginContainer {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #374759;
}

.card-header h3 {
  color: white;
}
.card-body {
  margin-top: 20px;
}

.input-group-prepend {
  width: 15%;
  background-color: #ec2131;
  color: white;
  border: 0 !important;
}

.login_btn {
  color: black;
  background-color: #ec2131;
  width: 100%;
  margin-top: 10px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.button-container {
  margin-top: 20px;
}
