.stats {
  width: 15%;
  height: 100%;
}

.proficiency {
  background-color: #DCDCDC;
}

.proficiencySkill {
  background-color: #DCDCDC;
}

.proficiencySkill:hover {
  background-color: white;
  cursor: pointer;
}

.nonProficiencySkill:hover {
  background-color: #DCDCDC;
  cursor: pointer;
}

.stat-input {
  width: 45%;
  height: 70%;
  text-align: center;
  border: none;
  padding: 0;
}

.stat-input:focus::placeholder {
  color: transparent;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
