.name-section {
  background-image: url("src/assets/Name Section.png");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: 100% 100%;
  width: 31%;
  height: 100%;
  opacity: 0.9;
}

.character-info {
  width: 65%;
  height: 92%;
  opacity: 0.9;
  overflow: visible;
  z-index: 1000;
}

.character-info-field {
  width: 17%;
  margin-right: 3%;
}

.name-input {
  width: 92%;
  border: none;
}

.name-input:focus {
  outline: none;
}
