.selectContainer {
  width: 75%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.card-header {
  background: none;
  height: 14%;
}

.character-card {
  width: 250px;
  height: 75px;
}

.character-card:hover {
  border: 1px solid grey;
  cursor: pointer;
}

.characterBorder {
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 1px 1px 3px rgba(0,0,0,0.24);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}
