.slot {
  width: 1em;
  height: 1em;
  line-height: 2em;
  border-radius: 2em;
  border: 1px solid #798cb4;
  margin: 0 0.35em;
  display: inline-block;
  position: relative;
}

.slot::before {
  content: '';
  position: absolute;
  top: .45em;
  left: -1em;
  width: 1.1em;
  height: .1em;
  background: #798cb4;
  z-index: -1;
}

.slot:first-child::before {
  display: none;
}

.active {
  background: #798cb4;
}

.inactive {
  background: ghostwhite;
}
