.sidenav-container {
  margin-top: -30px;
  position: relative;
  width: 500px;
  height: 100vh;
  border: none;
  background: white;
  z-index: 0;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
}

.sidenav {
  background: ghostwhite;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
}

.sidenav-button {
  margin-top: 13px;
  margin-left: 5px;
  top: 32px;
  height: 35px;
  width: 35px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
  color: #6B778C;
  border: none;
  border-radius: 50%;
  outline: none;
}

.sidenav-icon {
  height: 70%;
  width: 25px;
  display: block;
  font-size: 1.5em;
  outline: none;
}

.list-group-item {
  background: ghostwhite;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.list-group {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
  cursor: default;
}

h3 {
  font-weight: 400;
  font-size: 26px;
}

button:focus {
  outline: none;
}
