@import '~bootstrap/scss/bootstrap';

html
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  height: 100vh;
}

.fadey {
  animation: fade-in 0.9s cubic-bezier(.38, -0.03, .67, .89);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quick-fadey {
  animation: quick-fade-in 0.2s cubic-bezier(.38, -0.03, .67, .89);
}

@keyframes quick-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr {
  margin: 0;
}

.dropdown-menu {
  height: auto;
  max-height: 225px;
}

.dropdown-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-outline-secondary {
  border: 1px solid #ced4da !important;
}

.custom-scrollbar {
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  background: #d3d3d3;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
}

.no-scrollbar {
  overflow: auto;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.z-index-2000 {
  z-index: 2000 !important;
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.clickable {
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.warning-snackbar {
  background: #ec2131;
  z-index: 10000 !important;
  transform: translateY(50px) !important;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
}

.success-snackbar {
  background: $success;
  z-index: 10000 !important;
  transform: translateY(50px) !important;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
}

.quantity {
  width: 13%;
  height: 90%;
  text-align: center;
  border: none;
  margin-top: 2.4%;
}

.quantity:disabled {
  background-color: white;
}

.mat-tab-group {
  height: 86%;
  overflow: hidden;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #323c48 !important;
}

.mediumModal .modal-content {
  position: fixed;
  height: 88%;
  width: 80%;
  top: 7%;
  left: 10%;
}

.mediumModal .modal-body {
  height: 100%;
}

.ghost {
  background: ghostwhite;
}

.opacity-0 {
  opacity: 0;
}

.btn-main-danger {
  color: #fff !important;
  background-color: #ec2131 !important;
  border-color: #ec2131 !important;
}

.btn-main-danger:hover {
  color: #fff !important;
  background-color: #d61c2b !important;
  border-color: #d61c2b !important;
}

.btn-main-danger:focus, .btn-main.focus {
  color: #fff !important;
  background-color: #ec2131 !important;
  border-color: #ec2131 !important;
  box-shadow: 0 0 0 0.2rem red !important;
}

.btn-main-danger.disabled, .btn-main-danger:disabled {
  color: white !important;
  background-color: #d97981 !important;
  border-color: #d97981 !important;
}

.btn-main {
  color: #fff !important;
  border-color: #374759 !important;
  background-color: #374759 !important;
}

.btn-main:hover {
  color: #fff !important;
  background-color: #303e4d !important;
  border-color: #303e4d !important;
}

.btn-main:focus, .btn-main.focus {
  color: #fff !important;
  background-color: #374759 !important;
  border-color: #374759 !important;
  box-shadow: 0 0 0 0.2rem lightblue !important;
}

.btn-main.disabled, .btn-main:disabled {
  color: black !important;
  background-color: ghostwhite !important;
  border-color: black !important;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}
