.method-card {
  width: 32%;
  height: 65%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 18px;
}

.method-card:hover {
  background: #f8f9fa;
  border: 1px solid grey;
  cursor: pointer;
}

::ng-deep .cdk-drag-preview {
  position: absolute;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 2000 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.stat-drop {
  height: 100%;
  width: 20%;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: 2%;
}

.stat-drop .cdk-drag-placeholder {
  display: none !important;
}

.cdk-drop-list-dragging {
  background: #f8f9fa;
}

.roll-drag {
  height: 35%;
  width: 15%;
  text-align: center;
  cursor: move;
}

table {
  border-collapse: collapse;
  width: 25%;
  height: 10%;
}

td {
  min-width: 10%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
